:root {
  ---border: rgb(140, 0, 255);
  --background: rgb(238, 225, 244);
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#button {
  font-size: 2rem;
  font-weight: 700;
  padding: 0.5em 1em;
  color: var(---border);
  background-color: var(--background);
  border: 10px solid var(---border);
  border-radius: 5px;

  /* transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  transition-delay: 0s; */

  transition: transform 0.3s;
}

#button:hover {
  transform: translateY(-10px);
  background-color: var(---border);
  color: var(--background);
}
